/*
Color1 = #1D1D1D
Color2 = #111111
Color3 = #83E3FA
*/

@font-face {
    font-family: "Oxygen-Bold";
    src: url("./font/Oxygen-Bold.ttf");
}
@font-face {
    font-family: "Oxygen-Light";
    src: url("./font/Oxygen-Light.ttf");
}
@font-face {
    font-family: "Oxygen-Regular";
    src: url("./font/Oxygen-Regular.ttf");
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: "Oxygen-Bold";
    overflow-x: hidden;
    position: relative;
    background: #111111;
}

/********************************************* HEADER *********************************************/

header {
    background: #1d1d1d;
    height: 100px;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
header nav {
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .logo {
    background: url(./img/Logo.png) center / cover no-repeat;
    height: 60px;
    width: 60px;
}
header nav ul {
    width: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    list-style-type: none;
}
header nav ul a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
    transition: 0.3s;
    border: transparent solid 1px;
    border-radius: 0.7em;
}
header nav ul a:hover {
    color: #83e3fa;
}
header .discord {
    color: #83e3fa;
    border: #83e3fa solid 1px;
}
header .discord:hover {
    color: #ffffff;
    border: #ffffff solid 1px;
}
article p {
    display: block;
    background: #111111;
    color: #83e3fa;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: absolute;
}

/********************************************* HOME *********************************************/
#home {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#home .background1 {
    background: url(./img/bg1.jpg) center / cover no-repeat;
    height: 60%;
    width: 100%;
    position: absolute;
    top: 100px;
    z-index: -1;
}
#home h2 {
    margin-top: 18vh;
    color: #ffffff;
    font-size: 2.8em;
}
#home h1 {
    color: red;
    font-size: 4em;
    letter-spacing: 8px;
    font-weight: bold;
}
#home section {
    padding: 50px;
    color: #ffffff;
    width: 55%;
    background: #1d1d1d;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 21vh;
    grid-gap: 40px;
}
#home section p {
    font-family: "Oxygen-Light";
    line-height: 27px;
    font-size: 0.9em;
    margin-top: 12px;
}
@media screen and (max-width: 1470px) {
    #home section {
        grid-gap: 30px;
        padding: 50px 30px;
    }
}
@media screen and (max-width: 1360px) {
    #home section {
        width: 75%;
    }
    header nav {
        width: 60%;
    }
}
@media screen and (max-width: 1000px) {
    #home section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 40px 30px 10px;
        margin-top: 15vh;
        grid-gap: 10px;
    }
    header nav {
        width: 72%;
    }
    #home .background1 {
        height: 55%;
    }
    #home h2 {
        font-size: 2.3em;
    }
    #home h1 {
        font-size: 3.5em;
        letter-spacing: 8px;
    }
}
@media screen and (max-width: 720px) {
    #home h2 {
        font-size: 2.3em;
    }
    #home h1 {
        font-size: 3.5em;
        letter-spacing: 8px;
    }
}

/********************************************* FOOTER *********************************************/

footer {
    width: 100%;
    height: 41px;
    background: #1d1d1d;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22%;
    position: absolute;
    bottom: 0;
}

/********************************************* RULES *********************************************/

#rules {
    width: 100%;
    height: calc(100% - 41px - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#rules section {
    padding: 50px;
    color: #ffffff;
    background: #1d1d1d;
    margin: 0 30px;
}
#rules section ul {
    list-style: inside;
    list-style-type: disc;
}
#rules ul li {
    margin: 8px 0 0 10px;
}
#rules h1 {
    font-size: 1.7em;
}
#rules h2 {
    margin-top: 15px;
    font-size: 1em;
    text-decoration: underline;
    color: red;
}
#rules .p1 {
    margin-top: 15px;
    color: #83e3fa;
}
#rules .p2 {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #83e3fa;
}
#rules h3 {
    margin-top: 5px;
    font-size: 1.15em;
}

/********************************************* PLAY *********************************************/

#play {
    width: 100%;
    height: calc(100% - 41px - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#play section {
    padding: 50px;
    color: #ffffff;
    background: #1d1d1d;
    margin: 0 30px;
}
#play h1 {
    font-size: 1.7em;
}
#play h2 {
    margin-top: 10px;
    font-size: 1em;
    text-decoration: underline;
    color: red;
}
#play a {
    color: #83e3fa;
    margin-top: 15px;
    display: block;
}
#play a:visited {
    color: #83e3fa;
}
#play p {
    margin: 7px 0;
}