/*
Color1 = #1D1D1D
Color2 = #111111
Color3 = #83E3FA
*/

@font-face {
  font-family: "Oxygen-Bold";
  src: url("./font/Oxygen-Bold.ttf");
}
@font-face {
  font-family: "Oxygen-Light";
  src: url("./font/Oxygen-Light.ttf");
}
@font-face {
  font-family: "Oxygen-Regular";
  src: url("./font/Oxygen-Regular.ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Oxygen-Bold";
  overflow-x: hidden;
  position: relative;
}
header {
  background: #1D1D1D;
  height: 100px;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .logo {
  background: url(./img/Logo.png) center / cover no-repeat;
  height: 60px;
  width: 60px;
}
header nav ul {
  width: 60%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
header nav ul a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 5px 10px;
  transition: .3s;
  border: transparent solid 1px;
  border-radius: .7em;
}
header nav ul a:hover {
  color: #83E3FA;
  border: #83E3FA solid 1px;
}
article p {
  display: block;
  background: #111111;
  color: #83E3FA;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  position: absolute;

}
main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .background1 {
  background: url(./img/bg1.jpg) center / cover no-repeat;
  height: 60%;
  width: 100%;
  position: absolute;
  top: 100px;
  z-index: -1;
}
main .background2 {
  background: #111111;
  height: 100%;
  width: 100%;
  position: absolute;
  top: calc(60% + 100px);
  z-index: -1;
}
main h2 {
  margin-top: 18vh;
  color: #FFFFFF;
  font-size: 2.8em;
}
main h1 {
  color: #83E3FA;
  font-size: 4em;
  letter-spacing: 8px;
  font-weight: bold;
}
#section1 {
  height: 230px;
  width: 1140px;
  padding: 50px;
  color: #FFFFFF;
  width: 55%;
  background: #1D1D1D;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 21vh;
  grid-gap: 40px;
}
#section1 p {
  font-family: "Oxygen-Light";
  line-height: 27px;
  font-size: 0.9em;
  margin-top: 12px;
}
@media screen and (max-width: 1470px) {
  #section1{
    grid-gap: 30px;
    padding: 50px 30px;
  }
}
@media screen and (max-width: 1360px) {
  #section1{
    width: 75%;
  }
}
@media screen and (max-width: 1000px) {
  #section1{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 350px;
    padding: 40px 30px;
  }
}
@media screen and (max-width: 720px) {
  #section1{
    height: 370px;
  }
}